.about-us {
    min-height: 100vh;
    width: 100%;
    background-color: #111;
    color: white;
    padding-top: 10vw;
    text-align: center;
    font-family: NB;
    display: flex;
    align-items: center;
    flex-direction: column;

    @media (max-width: 768px) {
        padding: 10vw 4vw;
        padding-top: 25vw;
    }

    h1 {
        font-size: 3vw;
        margin-bottom: 3vw;
        color: #fff;

        @media (max-width: 768px) {
            font-size: 5.5vw;
            margin-bottom: 8vw;
            text-align: center;
        }
    }

    .para-wrapper {
        position: relative;
        width: 50%;
        align-self: center;
        margin-top: 3vw;

        @media (max-width: 768px) {
            width: 100%;
        }

        .quote {
            position: absolute;
            font-size: 2.3vw;
            color: #fff;

            @media (max-width: 768px) {
                font-size: 4vw;
            }
        }

        .left-quote {
            top: -2vw;
            left: -5vw;

            @media (max-width: 768px) {
                left: -3%;
                top: -10%;
            }
        }

        p {
            font-size: 1.2vw;
            line-height: 1.7;
            color: #bbbbbb;
            width: 100%;
            text-align: center;

            @media (max-width: 768px) {
                font-size: 3.5vw;
                line-height: 5vw;
                width: 100%;
            }
        }

        .right-quote {
            bottom: -1.5vw;
            right: 1vw;
        }
    }

    .about-details {
        position: relative;
        height: 20vw;
        width: 80%;
        display: flex;
        align-items: center;
        gap: 4vw;
        margin-top: 8vw;
        margin-left: auto;
        margin-right: auto;

        @media (max-width: 768px) {
            height: fit-content;
            width: 100%;
            margin: 10vw 0;
        }

        img {
            height: 100%;
            width: 50%;
            object-fit: cover;
            border-radius: 1vw;
        }

        h4 {
            width: 50%;
            align-self: flex-end;
            text-align: left;
            line-height: 1.8vw;
            color: #ccc;
            font-weight: lighter;

            @media (max-width: 768px) {
                font-size: 2.8vw;
                line-height: 3.3vw;
            }
        }
    }

    .mission-vision {
        width: 80%;
        margin-top: 8vw;
        display: flex;
        justify-content: space-between;
        gap: 2vw;

        @media (max-width: 768px) {
            flex-direction: column;
            align-items: center;
            gap: 10vw;
            width: 100%;
            margin-top: 5vw;
        }

        .mv-box {
            height: fit-content;
            width: 45%;
            padding: 2vw;
            background: linear-gradient(to right bottom,
                    rgba(0, 0, 0, 0.6),
                    rgba(75, 76, 69, 0.6));
            backdrop-filter: blur(10px);
            -webkit-backdrop-filter: blur(10px);
            border-radius: 1vw;
            box-shadow: 0px 1px 16px -8px rgba(255, 255, 255, 0.75);
            color: white;
            text-align: left;
            z-index: 2;

            @media (max-width: 768px) {
                padding: 5vw;
                width: 100%;
            }

            h2 {
                font-size: 1.5vw;
                margin-bottom: 1.5vw;
                color: #fff;

                @media (max-width: 768px) {
                    font-size: 4vw;
                }
            }

            p {
                font-size: 1.1vw;
                color: #ccc;
                line-height: 1.4;

                @media (max-width: 768px) {
                    font-size: 3.5vw;
                }
            }

            &:hover {
                transform: scale(1.02);
                transition: transform 0.3s ease;
            }
        }
    }

    .features {
        max-width: 80%;
        margin-top: 8vw;
        z-index: 2;

        @media (max-width: 768px) {
            margin-top: 15vw;
            max-width: 100%;
        }

        h2 {
            font-size: 3vw;
            margin-bottom: 5vw;
            text-align: center;
            color: #fff;

            @media (max-width: 768px) {
                font-size: 5.5vw;
                margin-bottom: 8vw;
                text-align: center;
            }
        }

        .features-list {
            position: relative;
            list-style: none;
            padding: 0;
            z-index: 2;

            li {
                margin-bottom: 1.6vw;
                padding: 1.2vw 2vw;
                background-color: #1c1c1c;
                border-left: 4px solid #ffffff50;
                border-radius: 0.5vw;
                font-size: 1vw;
                text-align: left;
                color: #ccc;
                transition: all 0.3s ease;

                @media (max-width: 768px) {
                    padding: 4vw;
                    font-size: 3vw;
                    width: 100%;
                    margin-bottom: 5vw;
                }

                &:hover {
                    background-color: #222;
                    color: #fff;
                }
            }
        }
    }

    .growth-message-wrapper {
        position: relative;
        max-width: 80%;
        margin-top: 5vw;
        margin-bottom: 8vw;
        color: #ccc;
        font-size: 1.2vw;
        line-height: 1.8;
        z-index: 2;
        display: flex;
        flex-direction: column;
        align-items: center;

        .outside-box {
            max-width: 75%;
            margin-bottom: 4vw;

            @media (max-width: 768px) {
                max-width: 100%;
                margin-bottom: 15vw;
            }

            p {
                color: #ccc;

                @media (max-width: 768px) {
                    font-size: 3.5vw;
                    line-height: 5vw;
                }

                strong {
                    color: #fff;
                }
            }
        }

        .growth-message {
            height: fit-content;
            position: relative;
            border-radius: 10px;
            background: linear-gradient(to right bottom,
                    rgba(0, 0, 0, 0.6),
                    rgba(75, 76, 69, 0.6));
            backdrop-filter: blur(10px);
            -webkit-backdrop-filter: blur(10px);
            color: #fff;
            padding: 3vw 4vw;
            display: flex;
            flex-direction: column;
            gap: 3vw;

            @media (max-width: 768px) {
                padding: 4vw;
                gap: 5vw;
            }

            .msg-highlight {
                h2 {
                    font-size: 2vw;
                    font-weight: 600;
                    text-align: center;
                    margin: 0.5vw 0;
                    line-height: 1.4;

                    @media (max-width: 768px) {
                        font-size: 5vw;
                        margin-bottom: 4vw;
                        text-align: center;
                    }
                }

                h2+h2 {
                    font-weight: 700;
                }
            }

            .msg-block {
                p {
                    text-align: center;
                    max-width: 80%;
                    margin: 0 auto;

                    @media (max-width: 768px) {
                        font-size: 3.3vw;
                        line-height: 5vw;
                        max-width: 100%;
                    }

                    strong {
                        color: #fff;
                    }
                }
            }

            .msg-signoff {
                p {
                    text-align: center;
                    font-size: 1.4vw;
                    font-weight: 600;
                    color: #fff;

                    @media (max-width: 768px) {
                        font-size: 3.3vw;
                        line-height: 5vw;
                    }
                }
            }
        }
    }
}