.blacktie-events {
    min-height: 100vh;
    width: 100%;
    background-color: #111;
    color: white;
    padding-top: 10vw;
    text-align: center;
    font-family: NB;
    display: flex;
    align-items: center;
    flex-direction: column;

    @media (max-width: 768px) {
        padding: 10vw 4vw;
        padding-top: 25vw;
    }

    h1 {
        font-size: 3vw;
        margin-bottom: 2vw;
        z-index: 2;

        @media (max-width: 768px) {
            font-size: 5.5vw;
            margin-bottom: 8vw;
        }
    }

    .para-wrapper {
        position: relative;
        width: 70%;
        margin-top: 5vw;
        z-index: 2;

        @media (max-width: 768px) {
            width: 100%;
        }

        .quote {
            position: absolute;
            font-size: 2.3vw;
            color: #fff;

            @media (max-width: 768px) {
                font-size: 4vw;
            }
        }

        .left-quote {
            top: -1.5vw;
            left: 1vw;

            @media (max-width: 768px) {
                left: -4%;
                top: -5%;
            }
        }

        h4 {
            font-size: 1.2vw;
            font-weight: 400;
            color: #cccccc;
            line-height: 1.5;
            width: 82%;
            margin: 0 auto;

            @media (max-width: 768px) {
                font-size: 3.5vw;
                line-height: 5vw;
                width: 100%;
            }
        }

        .right-quote {
            bottom: -1.5vw;
            right: 1vw;
        }
    }

    .events {
        width: 80%;
        margin: 6vw 0;
        text-align: left;
        z-index: 2;
        position: relative;

        @media (max-width: 768px) {
            width: 100%;
            margin-top: 12vw;
        }

        h2 {
            font-size: 2.5vw;
            margin-bottom: 3vw;
            text-align: center;
            color: #fff;

            @media (max-width: 768px) {
                font-size: 5.5vw;
                margin-bottom: 8vw;
                text-align: center;
            }
        }

        .event-box {
            position: relative;
            height: 30vw;
            border-radius: 10px;
            overflow: hidden;
            box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
            display: flex;
            margin-bottom: 4vw;

            @media (max-width: 768px) {
                height: fit-content;
            }

            &.reverse {
                flex-direction: row-reverse;
            }

            .background-img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                background-size: cover;
                background-position: center;
                z-index: 1;

                &.wedding-bg {
                    background-image: url('/wedding.jpg');
                }

                &.corporate-bg {
                    background-image: url('/caricature.jpg');
                }
            }

            .overlay {
                position: relative;
                z-index: 2;
                background: rgba(0, 0, 0, 0.386);
                backdrop-filter: blur(6px);
                height: 100%;
                width: 60%;
                padding: 3vw;
                display: flex;
                flex-direction: column;
                justify-content: center;
                color: #fff;
                font-family: NB;

                @media (max-width: 768px) {
                    padding: 4vw;
                    width: 80%;
                }

                h4 {
                    font-size: 1.8vw;
                    margin-bottom: 1vw;
                    color: #d3dcad;

                    @media (max-width: 768px) {
                        font-size: 4vw;
                        margin-bottom: 5vw;
                    }
                }

                p {
                    font-size: 1.1vw;
                    color: #ccc;
                    line-height: 1.6;
                    margin-bottom: 2vw;

                    @media (max-width: 768px) {
                        font-size: 2.5vw;
                        line-height: 1.3;
                        margin-bottom: 3vw;
                    }
                }

                .list-section {
                    h5 {
                        font-size: 1.3vw;
                        margin-bottom: 1vw;
                        color: #fff;

                        @media (max-width: 768px) {
                            font-size: 2.5vw;
                            line-height: 1.3;
                        }
                    }

                    ul {
                        padding-left: 1.5vw;

                        li {
                            font-size: 1vw;
                            line-height: 1.8;
                            list-style-type: disc;
                            color: #ccc;

                            @media (max-width: 768px) {
                                font-size: 2.3vw;
                            }
                        }
                    }
                }
            }
        }

        h3 {
            font-size: 1.2vw;
            width: 60%;
            margin: 4vw auto;
            line-height: 1.5;
            color: #ccc;
            font-weight: lighter;
            text-align: center;

            @media (max-width: 768px) {
                font-size: 3.5vw;
                width: 100%;
                margin: 10vw 0;
            }
        }

        .small-events {
            width: 80%;
            margin: 5vw auto;
            display: flex;
            justify-content: space-between;
            gap: 2vw;

            @media (max-width: 768px) {
                width: 100%;
            }

            .small-event-box {
                position: relative;
                flex: 1;
                height: 15vw;
                border-radius: 10px;
                overflow: hidden;
                box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);

                @media (max-width: 768px) {
                    height: fit-content;
                }

                .background-img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 100%;
                    background-size: cover;
                    background-position: center;
                    z-index: 1;

                    &.festive-bg {
                        background-image: url('/animated.jpg');
                    }

                    &.private-bg {
                        background-image: url('/birthday.jpg');
                    }
                }

                .overlay {
                    position: relative;
                    z-index: 2;
                    background: rgba(0, 0, 0, 0.4);
                    backdrop-filter: blur(6px);
                    padding: 2vw;
                    color: #fff;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    @media (max-width: 768px) {
                        gap: 3vw;
                        padding: 4vw;
                    }

                    h4 {
                        font-size: 1.5vw;
                        margin-bottom: 1vw;
                        color: #d3dcad;

                        @media (max-width: 768px) {
                            font-size: 3.5vw;
                        }
                    }

                    p {
                        font-size: 1vw;
                        color: #ccc;
                        line-height: 1.6;

                        @media (max-width: 768px) {
                            line-height: 1.4;
                            font-size: 2.8vw;
                        }
                    }
                }
            }
        }
    }

    .features {
        width: 70%;
        z-index: 2;

        @media (max-width: 768px) {
            width: 100%;
        }

        h2 {
            font-size: 2.5vw;
            margin-bottom: 3vw;
            text-align: center;
            position: relative;
            z-index: 2;

            @media (max-width: 768px) {
                font-size: 5.5vw;
                margin: 8vw 0;
                text-align: center;
            }
        }

        .features-list {
            position: relative;
            list-style: none;
            padding: 0;
            z-index: 2;
            max-width: 80%;
            margin: 0 auto;

            @media (max-width: 768px) {
                margin-top: 10vw;
                max-width: 100%;
            }

            li {
                margin-bottom: 1.6vw;
                padding: 1.2vw 2vw;
                background-color: #1c1c1c;
                border-left: 4px solid #ffffff50;
                border-radius: 0.5vw;
                font-size: 1vw;
                text-align: left;
                color: #ccc;
                transition: all 0.3s ease;

                @media (max-width: 768px) {
                    padding: 4vw;
                    font-size: 3vw;
                    width: 100%;
                    margin-bottom: 5vw;
                }

                &:hover {
                    background-color: #222;
                    color: #fff;
                }
            }
        }
    }

    .bte-footer {
        margin: 5vw 0;
        width: 70%;
        text-align: center;
        color: #ccc;
        position: relative;
        z-index: 2;

        @media (max-width: 768px) {
            width: 100%;
        }

        h3 {
            font-size: 1.2vw;
            line-height: 1.5;
            color: #fff;
            margin-bottom: 4vw;
            font-weight: lighter;

            @media (max-width: 768px) {
                font-size: 3.5vw;
                margin-bottom: 8vw;
            }
        }

        h4 {
            font-size: 1.4vw;
            color: #d3dcad;
            margin-bottom: 3vw;
            font-weight: 600;

            @media (max-width: 768px) {
                font-size: 3.3vw;
                margin-bottom: 5vw;
            }
        }

        ul {
            list-style: none;
            padding: 0;
            margin-bottom: 4vw;

            li {
                font-size: 1.2vw;
                color: #d3dcad;
                margin-bottom: 1vw;
                font-weight: 500;

                @media (max-width: 768px) {
                    font-size: 3vw;
                    margin-bottom: 4vw;
                }

                .icon {
                    font-size: 1.5vw;
                    color: #e2e3dd;
                    margin-right: 0.8vw;
                    flex-shrink: 0;

                    @media (max-width: 768px) {
                        font-size: 3vw;
                    }
                }
            }
        }

        p {
            font-size: 1.2vw;
            margin: 0 auto;
            margin-top: 2vw;
            line-height: 2;
            width: 60%;

            @media (max-width: 768px) {
                width: 100%;
                font-size: 3.3vw;
                margin-top: 10vw;
            }

            a.contact-link {
                color: #d3dcad;
                text-decoration: underline;
                cursor: pointer;
                transition: color 0.3s ease;

                &:hover {
                    color: #fff;
                }
            }
        }
    }

}