.footer {
  width: 100%;
  height: fit-content;
  background-color: #111;
  color: #eee;
  display: flex;
  justify-content: space-between;
  gap: 4vw;
  align-items: center;
  padding: 3vw;
  padding-top: 4vw;
  border-top: 1px solid #444;
  overflow: hidden;

  @media (max-width: 768px) {
    height: 50vh;
    flex-direction: column;
    justify-content: flex-start;
    gap: 8vw;
  }

  h1 {
    width: 50%;
    font-size: 7vw;
    text-align: left;
    font-family: Rejouice;
    letter-spacing: 0.1vw;
    line-height: 8vw;
    position: relative;
    z-index: 2;

    span {
      display: inline-block;

      @media (max-width: 768px) {
        &:nth-child(1) {
          margin-right: 2vw;
        }
      }
    }

    @media (max-width: 768px) {
      width: 100%;
      text-align: center;
    }
  }

  .footer-content {
    width: 60%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: NB;
    position: relative;
    z-index: 2;

    @media (max-width: 768px) {
      width: 80%;
    }

    .elem {
      position: relative;
      height: 20vw;
      width: 10vw;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      border-top: 1px solid #555;
      gap: 1vw;
      padding-top: 1vw;

      @media (max-width: 768px) {
        width: fit-content;
        gap: 3vw;
      }

      h2 {
        margin-bottom: 1.5vw;
        font-weight: lighter;
        font-size: 1.4vw;

        @media (max-width: 768px) {
          font-size: 3.5vw;
        }
      }

      h4 {
        font-weight: lighter;
        font-size: 1vw;
        cursor: pointer;

        @media (max-width: 768px) {
          font-size: 2vw;
        }

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}