.get-in-touch {
    min-height: 100vh;
    width: 100%;
    background-color: #111;
    color: white;
    padding: 10vw 4vw 5vw 4vw;
    text-align: center;
    font-family: NB;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;

    @media (max-width: 768px) {
        padding: 10vw 4vw;
        padding-top: 25vw;
    }

    h1 {
        font-size: 3vw;
        margin-bottom: 2vw;
        z-index: 2;

        @media (max-width: 768px) {
            font-size: 5.5vw;
            margin-bottom: 8vw;
        }
    }

    p {
        font-size: 1.2vw;
        color: #ccc;
        width: 70%;
        line-height: 1.5;
        margin-top: 1vw;

        @media (max-width: 768px) {
            font-size: 3.5vw;
            line-height: 5vw;
            width: 100%;
        }
    }

    .contact {
        margin-top: 5vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        z-index: 2;
        width: 100%;

        @media (max-width: 768px) {
            margin-top: 10vw;
        }

        h2 {
            font-size: 2.5vw;
            color: #fff;
            margin-bottom: 4vw;
            font-weight: lighter;

            @media (max-width: 768px) {
                font-size: 5.5vw;
                margin-bottom: 8vw;
                text-align: center;
            }
        }

        .contact-inner {
            height: fit-content;
            width: 100%;
            display: flex;
            justify-content: space-between;
            border-top: 1px solid #4b4949;
            padding-top: 5vw;

            @media (max-width: 768px) {
                flex-direction: column;
            }

            .contact-left {
                height: 100vh;
                width: 48%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                @media (max-width: 768px) {
                    width: 100%;
                    justify-content: center;
                    gap: 15vw;
                }

                .contact-box-wrapper {
                    width: 100%;
                    height: 45%;
                    display: flex;
                    justify-content: space-between;

                    @media (max-width: 768px) {
                        height: fit-content;
                    }

                    .contact-box {
                        width: 45%;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        border-radius: 1vw;
                        border: 1px solid #222222;
                        background: linear-gradient(to right bottom, rgba(0, 0, 0, 0.6), rgba(75, 76, 69, 0.6));

                        @media (max-width: 768px) {
                            height: 30vh;
                            border-radius: 2vw;
                        }

                        h4 {

                            @media (max-width: 768px) {
                                margin-bottom: 4vw;
                            }
                        }

                        p {
                            color: #fff;
                            font-size: 1.1vw;

                            @media (max-width: 768px) {
                                font-size: 3vw;
                                line-height: 1.6;
                            }
                        }
                    }
                }

                .timings {
                    width: 100%;
                    height: 33%;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    margin-top: 5vw;

                    @media (max-width: 768px) {
                        height: fit-content;
                        margin-top: 0;
                    }

                    h4 {
                        font-size: 1.6vw;

                        @media (max-width: 768px) {
                            font-size: 3.5vw;
                            margin-bottom: 5vw;
                        }
                    }

                    p {
                        color: #fff;
                        font-size: 1.1vw;
                        text-align: left;
                        line-height: 1;

                        @media (max-width: 768px) {
                            font-size: 3vw;
                        }
                    }
                }

                .contact-footer {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    text-align: left;
                    gap: 1vw;

                    h2 {
                        font-size: 1.6vw;
                        margin-bottom: 0;
                        color: #fff;
                        font-weight: lighter;

                        @media (max-width: 768px) {
                            font-size: 3.5vw;
                            margin-bottom: 4vw;
                        }
                    }

                    h4 {
                        font-size: 1.1vw;
                        line-height: 1.5;
                        color: #d3dcad;

                        @media (max-width: 768px) {
                            font-size: 3.3vw;
                            margin-bottom: 5vw;
                            max-width: 100%;
                        }
                    }

                    h3 {
                        font-size: 1.1vw;
                        color: #ccc;

                        @media (max-width: 768px) {
                            font-size: 3.3vw;
                        }
                    }
                }
            }

            .contact-right {
                height: 100%;
                width: 45%;

                @media (max-width: 768px) {
                    width: 100%;
                }

                .fill-form {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    z-index: 2;
                    position: relative;
                    gap: 2vw;

                    @media (max-width: 768px) {
                        margin-top: 8vw;
                    }

                    h2 {
                        font-size: 2vw;
                        color: #fff;
                        font-weight: lighter;
                        margin-bottom: 0;

                        @media (max-width: 768px) {
                            font-size: 5.5vw;
                            margin-bottom: 4vw;
                            text-align: center;
                        }
                    }

                    h3 {
                        font-size: 1vw;
                        color: #ccc;
                        line-height: 1.5;
                        font-weight: lighter;

                        @media (max-width: 768px) {
                            font-size: 3.5vw;
                            width: 100%;
                            margin-bottom: 6vw;
                        }
                    }

                    .buttons {
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        margin-bottom: 0;

                        @media (max-width: 768px) {
                            width: 100%;
                            gap: 1vw;
                        }

                        button {
                            border: 1px solid #222222;
                            height: 6vw;
                            width: 18vw;
                            padding-left: 2vw;
                            border-radius: 10px;
                            background: linear-gradient(to right bottom, rgba(0, 0, 0, 0.6), rgba(75, 76, 69, 0.6));
                            backdrop-filter: blur(10px);
                            -webkit-backdrop-filter: blur(10px);
                            color: #fff;
                            display: flex;
                            align-items: flex-start;
                            justify-content: center;
                            flex-direction: column;
                            cursor: pointer;
                            z-index: 2;
                            font-family: NB;

                            @media (max-width: 768px) {
                                width: fit-content;
                                height: fit-content;
                                padding: 4vw;
                                gap: 2vw;
                                margin-bottom: 6vw;
                            }

                            .in-button {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                margin-bottom: 1vw;

                                i {
                                    margin-right: 0.2vw;
                                    font-size: 1.2vw;

                                    @media (max-width: 768px) {
                                        margin-right: 1vw;
                                        font-size: 3.5vw;
                                    }
                                }

                                h4 {
                                    font-size: 1vw;
                                    color: #fff;

                                    @media (max-width: 768px) {
                                        font-size: 3.5vw;
                                    }
                                }
                            }

                            h4 {
                                font-size: 1vw;
                                color: #ccc;

                                @media (max-width: 768px) {
                                    font-size: 3vw;
                                }
                            }
                        }
                    }

                    .contact-form {
                        position: relative;
                        width: 100%;
                        font-family: NB;
                        z-index: 2;

                        @media (max-width: 768px) {
                            width: 100%;
                        }

                        form {
                            position: relative;
                            background: linear-gradient(to right bottom, rgba(0, 0, 0, 0.6), rgba(75, 76, 69, 0.6));
                            backdrop-filter: blur(10px);
                            -webkit-backdrop-filter: blur(10px);
                            padding: 1.5vw;
                            border-radius: 10px;
                            display: flex;
                            flex-direction: column;
                            gap: 2vw;
                            z-index: 2;

                            @media (max-width: 768px) {
                                padding: 4vw;
                                gap: 6vw;
                            }

                            .name-fields {
                                display: flex;
                                gap: 1vw;

                                input {
                                    flex: 1;
                                }
                            }

                            input,
                            textarea {
                                padding: 0.8vw;
                                border: none;
                                border-radius: 5px;
                                font-size: 0.9vw;
                                background-color: #1c1c1c;
                                color: white;
                                font-family: NB;
                                outline: none;

                                @media (max-width: 768px) {
                                    padding: 3vw;
                                    font-size: 2.5vw;
                                }
                            }

                            textarea {
                                resize: none;
                                min-height: 8vw;
                                font-family: NB;
                            }

                            button {
                                align-self: flex-start;
                                padding: 0.8vw 2vw;
                                font-size: 1vw;
                                background-color: #d3dcad;
                                color: #000;
                                border: none;
                                border-radius: 5px;
                                cursor: pointer;
                                transition: all ease 0.3s;

                                @media (max-width: 768px) {
                                    padding: 3vw;
                                    font-size: 2.5vw;
                                }

                                &:hover {
                                    background-color: #fff;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}