.get-in-touch {
    min-height: 100vh;
    width: 100%;
    background-color: #111;
    color: white;
    padding-top: 10vw;
    text-align: center;
    font-family: NB;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;

    @media (max-width: 768px) {
        padding: 10vw 4vw;
        padding-top: 25vw;
    }

    h1 {
        font-size: 3vw;
        margin-bottom: 2vw;
        z-index: 2;

        @media (max-width: 768px) {
            font-size: 5.5vw;
            margin-bottom: 8vw;
        }
    }

    p {
        font-size: 1.2vw;
        color: #ccc;
        margin-top: 4vw;
        width: 70%;
        line-height: 1.5;

        @media (max-width: 768px) {
            font-size: 3.5vw;
            line-height: 5vw;
            width: 100%;
        }
    }

    .contact {
        margin-top: 5vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        z-index: 2;

        @media (max-width: 768px) {
            margin-top: 10vw;
        }

        h2 {
            font-size: 2.5vw;
            color: #fff;
            margin-bottom: 3vw;
            font-weight: lighter;

            @media (max-width: 768px) {
                font-size: 5.5vw;
                margin-bottom: 8vw;
                text-align: center;
            }
        }

        .contact-box-wrapper {
            display: flex;
            gap: 7vw;
            justify-content: center;
            flex-wrap: wrap;
        }

        .contact-box {
            background: linear-gradient(to right bottom, rgba(0, 0, 0, 0.6), rgba(75, 76, 69, 0.6));
            border-radius: 12px;
            padding: 2vw;
            width: 25vw;
            min-height: 18vw;
            color: #ccc;
            box-shadow: 0 0 10px rgba(255, 255, 255, 0.08);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            @media (max-width: 768px) {
                padding: 4vw;
                height: 40vh;
                width: 40vw;
            }

            h4 {
                font-size: 1.3vw;
                margin-bottom: 1vw;
                color: #fff;

                @media (max-width: 768px) {
                    font-size: 4vw;
                    margin-bottom: 5vw;
                }

                i {
                    margin-right: 0.6vw;
                    color: #d3dcad;
                }
            }

            p {
                font-size: 1.1vw;
                margin: 0.6vw 0;

                @media (max-width: 768px) {
                    font-size: 3vw;
                    line-height: 1.3;
                    margin-bottom: 3vw;
                }

                strong {
                    display: inline-block;
                    background-color: #222;
                    color: #d3dcad;
                    padding: 0.4vw 0.8vw;
                    border-radius: 6px;
                    font-weight: 600;
                    font-size: 1.1vw;
                    margin-top: 2vw;

                    @media (max-width: 768px) {
                        font-size: 2.5vw;
                        line-height: 1.3;
                    }
                }
            }
        }

        .timings {
            margin: 4vw 0;
            background: linear-gradient(to right bottom, rgba(0, 0, 0, 0.6), rgba(75, 76, 69, 0.6));
            border-radius: 12px;
            padding: 1.8vw 2.2vw;
            width: 24vw;
            color: #ccc;
            box-shadow: 0 0 10px rgba(255, 255, 255, 0.08);
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;

            @media (max-width: 768px) {
                width: 50vw;
                margin-top: 10vw;
                padding: 4vw;
            }

            h4 {
                font-size: 1.3vw;
                margin-bottom: 1vw;
                color: #fff;

                @media (max-width: 768px) {
                    font-size: 4vw;
                    margin-bottom: 5vw;
                }
            }

            p {
                font-size: 1.05vw;
                margin: 0.5vw 0;

                @media (max-width: 768px) {
                    font-size: 3vw;
                    line-height: 1.3;
                    margin-bottom: 3vw;
                }

                em {
                    font-style: italic;
                    color: #aaa;
                    font-size: 0.95vw;

                    @media (max-width: 768px) {
                        font-size: 3vw;
                        line-height: 1.3;
                        margin-bottom: 3vw;
                    }
                }
            }
        }
    }

    .fill-form {
        width: 100%;
        margin-top: 2vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        z-index: 2;
        position: relative;

        @media (max-width: 768px) {
            margin-top: 8vw;
        }

        h2 {
            font-size: 2.5vw;
            color: #fff;
            margin-bottom: 2vw;
            font-weight: lighter;

            @media (max-width: 768px) {
                font-size: 5.5vw;
                margin-bottom: 8vw;
                text-align: center;
            }
        }

        h3 {
            font-size: 1.2vw;
            color: #ccc;
            width: 70%;
            line-height: 1.5;
            font-weight: lighter;
            margin-bottom: 0;

            @media (max-width: 768px) {
                font-size: 3.5vw;
                width: 100%;
                margin-bottom: 6vw;
            }
        }

        .buttons {
            width: 45%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 4vw 0;
            margin-bottom: 0;

            @media (max-width: 768px) {
                width: 100%;
                gap: 3vw;
            }

            button {
                border: 1px solid #222222;
                height: 7vw;
                width: 20vw;
                padding-left: 2vw;
                border-radius: 10px;
                background: linear-gradient(to right bottom, rgba(0, 0, 0, 0.6), rgba(75, 76, 69, 0.6));
                backdrop-filter: blur(10px);
                -webkit-backdrop-filter: blur(10px);
                color: #fff;
                display: flex;
                align-items: flex-start;
                justify-content: center;
                flex-direction: column;
                cursor: pointer;
                z-index: 2;
                font-family: NB;

                @media (max-width: 768px) {
                    width: 50%;
                    height: fit-content;
                    padding: 4vw;
                    gap: 2vw;
                    margin-bottom: 6vw;
                }

                .in-button {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-bottom: 1vw;

                    i {
                        margin-right: 0.2vw;
                        font-size: 1.2vw;

                        @media (max-width: 768px) {
                            font-size: 3.5vw;
                        }
                    }

                    h4 {
                        font-size: 1.2vw;
                        color: #fff;

                        @media (max-width: 768px) {
                            font-size: 3.5vw;
                        }
                    }
                }

                h4 {
                    font-size: 1vw;
                    color: #ccc;

                    @media (max-width: 768px) {
                        font-size: 3vw;
                    }
                }
            }
        }

        .contact-form {
            position: relative;
            width: 45%;
            margin: 2vw 0;
            font-family: NB;
            z-index: 2;

            @media (max-width: 768px) {
                width: 100%;
            }

            form {
                position: relative;
                background: linear-gradient(to right bottom, rgba(0, 0, 0, 0.6), rgba(75, 76, 69, 0.6));
                backdrop-filter: blur(10px);
                -webkit-backdrop-filter: blur(10px);
                padding: 2vw;
                border-radius: 10px;
                display: flex;
                flex-direction: column;
                gap: 2vw;
                z-index: 2;

                @media (max-width: 768px) {
                    padding: 4vw;
                    gap: 6vw;
                }

                .name-fields {
                    display: flex;
                    gap: 1vw;

                    input {
                        flex: 1;
                    }
                }

                input,
                textarea {
                    padding: 1vw;
                    border: none;
                    border-radius: 5px;
                    font-size: 1vw;
                    background-color: #1c1c1c;
                    color: white;
                    outline: none;

                    @media (max-width: 768px) {
                        padding: 4vw;
                        font-size: 2.5vw;
                    }
                }

                textarea {
                    resize: none;
                    min-height: 8vw;
                    font-family: NB;
                }

                button {
                    align-self: flex-start;
                    padding: 0.8vw 2vw;
                    font-size: 1vw;
                    background-color: #d3dcad;
                    color: #000;
                    border: none;
                    border-radius: 5px;
                    cursor: pointer;
                    transition: all ease 0.3s;

                    @media (max-width: 768px) {
                        padding: 3.5vw;
                        font-size: 2.5vw;
                    }

                    &:hover {
                        background-color: #fff;
                    }
                }
            }
        }
    }

    .contact-footer {
        margin: 3vw;
        width: 70%;
        text-align: center;
        padding-bottom: 2vw;

        @media (max-width: 768px) {
            width: 100%;
            margin-top: 8vw;
            padding-bottom: 0;
        }

        h2 {
            font-size: 1.6vw;
            line-height: 1.4;
            color: #fff;
            margin-bottom: 1.5vw;
            font-weight: lighter;

            @media (max-width: 768px) {
                font-size: 3.5vw;
                margin-bottom: 4vw;
            }
        }

        h4 {
            font-size: 1.2vw;
            line-height: 1.5;
            color: #d3dcad;
            margin-bottom: 2vw;
            font-weight: 500;
            max-width: 80%;
            margin-left: auto;
            margin-right: auto;

            @media (max-width: 768px) {
                font-size: 3.3vw;
                margin-bottom: 5vw;
                max-width: 100%;
            }
        }

        h3 {
            font-size: 1.3vw;
            color: #ccc;
            font-weight: 400;
            margin-top: 0;

            @media (max-width: 768px) {
                font-size: 3.3vw;
            }
        }
    }
}