.page1 {
    position: relative;
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2vw;
    color: #fff;

    @media (max-width: 768px) {
        gap: 5vw;
    }

    video {
        position: absolute;
        object-fit: cover;
        object-position: center;
        height: 100%;
        width: 100%;
    }

    h1 {
        font-size: 8vw;
        font-family: Rejouice;
        z-index: 2;
        text-align: center;
        line-height: 8vw;
        margin-top: 2vw;

        @media (max-width: 768px) {
            font-size: 12vw;
            line-height: 13vw;
        }

        span {
            display: block;
        }
    }

    .flag {
        height: 12vw;
        width: 12vw;
        background-image: url(/btd.jpeg);
        background-size: cover;
        background-position: center;
        position: fixed;
        opacity: 0;
        transition: opacity 0.3s ease;
        pointer-events: none;
        z-index: 1;
        border-radius: 50%;

        @media (max-width: 768px) {
            display: none;
        }
    }

    h3 {
        font-size: 1.5vw;
        z-index: 2;
        font-family: NB;

        @media (max-width: 768px) {
            font-size: 4vw;
            margin-top: 7vw;
        }
    }

    h4 {
        font-size: 1.2vw;
        z-index: 2;
        font-family: NB;
        background-color: transparent;
        border: 1px solid #555;
        border-radius: 1vw;
        padding: 0.3vw 1vw;
        box-shadow: 0px 1px 16px -5px rgba(255, 255, 255, 0.575);
        text-shadow: 0 0 2px #FFE5CF, 0 0 20px #FFE5CF;


        @media (max-width: 768px) {
            margin-top: 5vw;
            font-size: 3.5vw;
            padding: 1vw 3vw;
        }
    }

    .buttons {
        display: flex;
        align-items: center;
        gap: 2vw;
        margin-top: 1vw;
        position: relative;
        z-index: 2;

        @media (max-width: 768px) {
            margin-top: 10vw;
            gap: 4vw;
        }

        button {
            position: relative;
            overflow: hidden;
            background-color: #FFE5CF;
            color: #000;
            border: none;
            cursor: pointer;
            font-size: 1vw;
            border-radius: 50px;
            padding: 1vw 1.6vw;
            z-index: 2;
            transition: color 0.3s ease;

            @media (max-width: 768px) {
                padding: 4vw 5vw;
                font-size: 2.5vw;
            }

            &::before {
                content: '';
                position: absolute;
                inset: 0;
                background-color: #3e3939;
                border-radius: 50px;
                transform: scaleX(0);
                transform-origin: bottom;
                transition: transform 0.4s ease;
                z-index: -1;
            }

            &:hover::before {
                transform: scaleX(1);
            }

            &:hover {
                color: #fff;
            }

            i {
                font-weight: bold;
                font-size: 1vw;

                @media (max-width: 768px) {
                    font-size: 2.5vw;
                    margin-left: 2vw;
                }
            }
        }
    }

    .scroll-down {
        position: absolute;
        height: 3vw;
        width: 3vw;
        background: transparent;
        border: 1px solid #fff;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 2;
        bottom: 5%;

        @media (max-width: 768px) {
            height: 12vw;
            width: 12vw;
        }

        i {
            font-size: 1.2vw;

            @media (max-width: 768px) {
                font-size: 5vw;
            }
        }
    }
}