.page2 {
    min-height: 100vh;
    width: 100%;
    background-color: #111;
    color: #fff;
    font-family: NB;
    padding: 4vw 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (max-width: 768px) {
        padding: 10vw 4vw;
    }

    h1 {
        font-size: 3vw;
        margin-bottom: 3vw;

        @media (max-width: 768px) {
            font-size: 5.5vw;
            margin-bottom: 6vw;
            text-align: center;
        }
    }

    h2 {
        font-size: 2.2vw;
        margin-bottom: 4vw;
        color: #FFE5CF;

        @media (max-width: 768px) {
            font-size: 4.5vw;
            margin-bottom: 8vw;
            text-align: center;
        }
    }

    h4 {
        width: 60%;
        color: #ccc;
        font-size: 1.2vw;
        font-weight: lighter;
        text-align: center;
        line-height: 2vw;
        margin-bottom: 3vw;

        @media (max-width: 768px) {
            font-size: 3.5vw;
            line-height: 5vw;
            margin-bottom: 6vw;
            width: 100%;
        }

        span {
            font-weight: bold;
            font-style: italic;
            color: #FFE5CF;
            margin: 0 0.5vw;
            text-shadow: 0 0 5px #FFE5CF, 0 0 25px #FFE5CF;
        }
    }

    .feature-container {
        height: auto;
        width: 80%;
        margin-top: 3vw;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 5vw;
        justify-content: center;
        z-index: 2;

        @media (max-width: 768px) {
            margin-top: 7vw;
            width: 100%;
            flex-direction: column;
            gap: 12vw;
        }

        .elem {
            position: relative;
            width: 45%;
            height: 12vw;
            background: linear-gradient(to right bottom, rgba(0, 0, 0, 0.6), rgba(75, 76, 69, 0.6));
            border-radius: 1vw;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            padding: 0 2vw;
            z-index: 2;
            box-shadow: 0px 1px 16px -8px rgba(255, 255, 255, 0.75);

            @media (max-width: 768px) {
                width: 95%;
                height: 18vh;
                padding: 5vw;
            }

            .corner-img {
                position: absolute;
                top: -30px;
                right: 40px;
                width: 4vw;
                height: 4vw;
                object-fit: cover;
                z-index: 3;

                @media (max-width: 768px) {
                    height: 10vw;
                    width: 10vw;
                    right: 8%;
                }
            }

            h2 {
                margin-bottom: 2vw;
                font-size: 1.4vw;

                @media (max-width: 768px) {
                    font-size: 3.5vw;
                    margin-bottom: 5vw;
                }
            }

            p {
                text-align: left;
                line-height: 1.4vw;
                font-size: 1vw;
                color: #ccc;

                @media (max-width: 768px) {
                    font-size: 2.8vw;
                    line-height: 3.5vw;
                }
            }
        }
    }

    h5 {
        width: 60%;
        font-size: 1.2vw;
        font-weight: bold;
        text-align: center;
        line-height: 2vw;
        margin-top: 4vw;

        @media (max-width: 768px) {
            font-size: 3.5vw;
            line-height: 5vw;
            width: 100%;
            margin-top: 10vw;
        }
    }
}